/* You can add global styles to this file, and also import other style files */

.active button{
    color: blue;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.disabled{
    cursor: not-allowed;
}
