@import '~bootstrap/dist/css/bootstrap.min.css';

.jumbotron{
    padding-top: 5%;
    
    form{
        margin-top: 5%;
        margin-left: 40%;

        .form-control{
            width: 25%;
        }
    }
}

@media(max-width: 540px){
   .jumbotron{ 
    form{

        .form-control{
            width: 50%;
        }
    }
  }
}  
@media(max-width: 361px){
    .jumbotron{ 
     form{
 
         .form-control{
             width: 70%;
         }
     }
   }
 } 