@import './colors.scss';

.main{
    width: 80%;
    box-shadow: 0 0 20px 5px $grey;
    margin: 0 auto;

    header{
        height: 15vh;
        background-color: $black;

        nav #userLink{
            float: right;
        }

        button{
            font-weight: bold;
            margin: 10px;
            font-size: 1.2rem;
        }
    }
    footer{
        height: 15vh;
        background-color: $blue;
        padding: 3%;

        p{
            color: $white;
        }
    }
}

@media(max-width: 540px){
  .main{
    width: 100%;

    header{
      height: 20vh;

      #userLink{
        float: left;
      }
    }
  }
}

@media(max-width: 540px){
  .main{

    header{
      height: 35vh;
    }
  }
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bgBlack;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay-show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: $white;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: $blackish;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $blackish;
  }
  .popup .close:hover {
    color: $green;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }