@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../colors.scss";

.cont1{
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button{
        border: 0;
        margin-top: 5%;
    }
    h2{
        font-size: 4rem;
        color: white;
    }   
    .create{
        //background-color: #5cb85c;
        background-color: $bootstrapGreen;
        color: $white;
        padding: 10px;
        font-weight: 800;
        margin: 5%;
        font-size: 1.2rem;
    }
}
.cont{

    form{
        margin: 5%;
        box-shadow: 0 0 20px 2px $grey;
        height: fit-content;
        top: 0;
        position: sticky;
        padding-top: 1%;
        border-radius: 5px;

        select[multiple]{
            height: 73px;
        }
    }

    h2{
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.5rem;
        width: max-content;
        margin: 5% 0 5% 25%;
    }
    ul{
        list-style-type:none;
        width: max-content;
    }
}

@media(max-width: 540px){
  .cont{
    ul{
      padding-left: 0;
    }
  }

  #deletePosts{
    p{
      width: 80%;
      padding-left: 6px;
      font-size: 0.9rem;
      margin: 1px;
    }
  }
}

@media(max-width: 361px){
  [style="height: 10vh;"]{
    height: 0;
  }
  .cont{
    form{
      padding-left: 0;
      width: 50px;
      font-size: 0.9rem;
    }
    h2{
      font-size: 1.5rem;
    }
  }
  .switch{
    width: 20px;
    height: 17px;
  }
  .slider:before{
    width: 4.3px;
    height: 13px;
  }
}


//pagination

.ngx-pagination /deep/ {
  margin-left: 100px;
}


//spinner

.loader {
    margin-left: 30%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    //border-top: 16px solid #3498db;
    border-top: 16px solid $blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




  .overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bgBlack;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay-show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: $white;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    //color: #333;
    color: $grey;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    //color: #333;
    color: $grey;
  }
  .popup .close:hover {
    color: $green;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }



  //toggle

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: #ccc;
    background-color: $grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    //background-color: #2196F3;
    background-color: $blue;
  }
  
  input:focus + .slider {
    //box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px $blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }