<div class="cont1">
    <h2>Home page</h2>

    <button *ngIf='this.postsAndUsersService.userEmail !== ""' class="create" routerLink='/create'>CREATE YOUR OWN POST</button>      
    <div *ngIf='this.postsAndUsersService.userEmail === ""' style="height: 10vh;"></div>
</div>




<!-- <div class="overlay" *ngIf='this.postsAndUsersService.showDeletedBin'>
  <div class="popup" style='overflow: auto; max-height: 50%;'>
    <h2>Bin of deleted posts</h2>
    <a (click)='hideDeletedBin()' class="close">&times;</a>
    <div class="content">
      <ul>
        <i>Deleted by hrobachok1ua@gmail.com</i>
        <li *ngFor="let post of deletedArr">
          <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted' [author]='post.author' 
          [title]='post.title' [type]='post.type' [description]='post.description'></app-post>  
        </li>
        <p *ngIf='deletedArr.length < 1'>Empty</p>
      </ul>
    </div>
  </div>
</div> -->




<div class='cont row'>

    <form class='col'>
      <div class="form-group">
          <label for="search">Search content or title</label>
          <input class="form-control" id="search" placeholder="..." (keyup)='onSearch(s)' #s>
        </div>
        <div class="form-group">
          <label for="auth">Filter by author</label>
          <input class="form-control" id="auth" placeholder="..." (keyup)='onAuthor(a)' #a>
        </div>
    <div class="form-group">
      <label for="type">Choose type</label>
      <select multiple class="form-control mult" id="type" (click)='onType(t)' #t>
        <option>News</option>
        <option>Post</option>
        <option>Help</option>
      </select>
    </div>
    <div class="form-group">
      <label for="method">Sort by expiration time</label>
      <br>
      <!-- <select class="form-control" id="method" (change)='onMethod(m)' #m>
        <option>&#9652;Ascending</option>
        <option>&#9662;Descending</option>
      </select> -->
      <label class="switch">
        <input type="checkbox" checked (click)='onMethod(m)' #m>
        <span class="slider round"></span>
      </label>
    </div>
    </form>

              <ul class='col-6' *ngIf='!this.postsAndUsersService.showDeletedBin' [@postsStagger]="posts">
                  <h2>List of Posts</h2>

                <li *ngFor="let post of posts">
                      <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted' [author]='post.author' 
                      [title]='post.title' [type]='post.type' [description]='post.description' [src]='post.img'></app-post>  
                </li>
                <div *ngIf='posts?.length < 1' class='loader'></div>
                <button *ngIf='posts?.length >= 1' style='margin-left: 27.5%;' class='btn btn-secondary' (click)='showMore()'>Show more posts</button>
              </ul>

              <div class="content" *ngIf='this.postsAndUsersService.showDeletedBin'>
                <ul>
                  <i>Deleted by hrobachok1ua@gmail.com</i>
                  <li *ngFor="let post of deletedArr">
                    <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted' [author]='post.author' 
                    [title]='post.title' [type]='post.type' [description]='post.description' [src]='post.img'></app-post>  
                  </li>
                  <p *ngIf='deletedArr.length < 1'>Empty</p>
                  <button *ngIf='posts?.length >= 1' style='margin-left: 27.5%;' class='btn btn-secondary' (click)='showMore()'>Show more posts</button>
                </ul>
              </div>
        
            <div class="col" style='margin-top: 5%;' id="deletePosts">
                <p *ngIf='this.postsAndUsersService.admin && !this.postsAndUsersService.showDeletedBin' (click)='showDeletedBin()' class="btn btn-danger">
                  Deleted bin</p>
                <p *ngIf='this.postsAndUsersService.admin && this.postsAndUsersService.showDeletedBin' (click)='showDeletedBin()' class="btn btn-primary">
                  Get back to home page</p>
            </div>  
</div>