<div class="c">
    <app-post name="post.description" [src]='post.img' [keyCode]='post' [date]='post.date' [posted]='post.posted' [author]='post.author' 
    [title]='post.title' [type]='post.type' [description]='post.description'></app-post>
</div>